.navbar {
    background-color: #333; 
    padding: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .nav-links {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
  }
  
  .nav-links li {
    margin: 0 20px; 
    color: #fff; 
    cursor: pointer; 
    transition: color 0.3s; 
  }
  
  .nav-links li:hover {
    color: #ffdd57; 
  }
  

  @media (max-width: 600px) {
    .nav-links {
      flex-direction: column; 
      align-items: center; 
    }
  
    .nav-links li {
      margin: 10px 0; 
    }
  }
  